html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: lightskyblue;*/
}

svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.axis text {
    font-family: sans-serif;
    font-size: 15px;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}

g{
    width: 50%;
    height: 100%;
}

.legend rect{
    fill-opacity: 0.75;
}

.dropdown {
    margin-bottom: 20px;
    margin-right: 35px;
}

.bar { 
	fill: steelblue;
}

.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_li{
    float: left;
    width:33%;
    height:50px;
}
.nav_li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav_li a:hover:not(.active) {
    background-color: #111;
}

.airbnb{
    text-align: right;
    background-color: #FF5A60;
    max-width: 100%;
    height:auto;
}

.barplots {
	width:auto;
	height:auto;
}

.form{
    background-color: #f6f6f6;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
    border: 1px solid rgba(127,255,255,0.25);
    border-radius:0.5em;
    width:25%;
    float: left;
}

#selector {
	width:50%;
	float:right;
}