html, body, #map{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_li{
    float: left;
}
.nav_li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav_li a:hover:not(.active) {
    background-color: #111;
}

.airbnb{
    text-align: right;
    background-color: #FF5A60;
}

img{
    max-width: 100%;
    height:auto;
}