html, body, #googleMap{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: lightskyblue;*/
}

#googleMap{
    margin-top: 20px;
    margin-right:20px;
    marigin:100%;
    height:700px;
    border-radius:0.5em;
}

#searchDistricts{
    width: 100%;
    height:auto;
    margin-top: 20px;
    margin-left:20px;
    list-style-type: none;
    disply:inline-block;
    text-align:center;
}
#neighbour{
    width: 25%;
    height:650px;
    float:left;
}

#districtsMap{
    margin-right: 20px;
    width:70%;
    height: 650px;
    border-radius:0.5em;
    float:left;
}

.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_li{
    float: left;
    width:33%;
    height:50px;
}
.nav_li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav_li a:hover:not(.active) {
    background-color: #111;
}

.airbnb{
    text-align: right;
    background-color: #FF5A60;
    max-width: 100%;
    height:auto;
}

#img_cph{
    margin-top:20px;
    max-width: 100%;
    height:auto;
    text-align: center;
}

.d3-tip{
    line-height: 1;
    font-weight: bold;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
}

.stations, .stations svg {
    position: absolute;
}

.stations svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.stations circle {

}

svg{
    width: 100%;
    height:30px;
}