body {
    background-color: #eef7fa;
}

.node {
	cursor: pointer;
}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.d3-tip {
	line-height: 1;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 1px;
}
#mainbox{
	margin: 0 auto;
	width: 70%;
	text-align: left;
}

h1, h2, h3, li{
	font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
	letter-spacing:1px;
}


p{
     font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
     font-size:14px;
     color:#333;
     letter-spacing:1px;
     line-height:1.2;
     font-weight:normal;
     text-transform:none;
     text-decoration:none;
     text-indent:10px;
     text-shadow:3px 3px 3px #ccc;
}