html {
    height:100%;
    overflow:hidden;
}

body {
    margin:0;
    height:100%;
    overflow:hidden;
}

svg {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}