
html {
    height:100%;
    overflow:scroll; /* what happens if content overflows an elements box */
}
body {
    height:100%;
    overflow:scroll;
}

.axis path, .axis line{
    fill: none;
    stroke:blue;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#svg1 {
    width:700px;
    height:700px;
    position:relative;
    overflow: scroll;
}
#svg2 {
    width:700px;
    height:700px;
    position:relative;
    overflow: scroll;
}
#pcac40{
    red:red;
}

#plot{
    position: relative;
    width: 100%;
    height:700px;
    float:left;
}
#pca{
    width:50%;
    height:700px;
    float:right;
}
#hand{
    width:50%;
    height:700px;
    float:left;
}

g{
    width: 50%;
    height: 100%;
}

p{
    font-family: 'Source Code Pro', sans-serif;
    text-align: justify;
}
